<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .max-height {
            height: 100vh;
        }

        .parallax {
            background-image: url('https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* Ajusta la imagen sin cortarla, pero puede haber espacios vacíos */
        }


        h1 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .first-img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100vh;
            height: 100%;
        }

        .contenedor {
            overflow: hidden;
            /* Evita que la imagen sobresalga del contenedor */
            display: inline-block;
        }

        .contenedor img {
            transition: transform 0.7s ease;
            cursor: pointer;
        }

        .contenedor:hover img {
            transform: scale(1.2);
            /* Hace zoom en la imagen sin cambiar el tamaño del contenedor */
        }

        .bg-dark {
            background-color: #121212 !important;
        }

        .col-3 {
            padding-left: 50px;
            padding-right: 50px;
        }

        .display-6 {
            font-size: 1.5rem;
        }

        .eslogan {
            font-size: 4rem !important;
            transition: 0.5s;
            cursor: pointer;
        }

        .eslogan:hover {
            color: #fff;
            text-shadow: 0 0 5px #fc3c44, 0 0 10px #fc3c44, 0 0 15px #fc3c44, 0 0 20px #fc3c44, 0 0 25px #fc3c44, 0 0 30px #fc3c44;
        }


        .space {
            margin-top: 20vh !important;
        }

        .parallax-theweeknd {
            background-image: url('https://is1-ssl.mzstatic.com/image/thumb/AMCArtistImages221/v4/32/b8/4c/32b84c51-400b-d7ef-14b0-bb49065277b8/e551d134-ebe5-4a6d-b496-a26beceffdaa_ami-identity-777ad796f94973f081f3e54e4b81fcb1-2024-09-12T22-33-01.265Z_cropped.png/486x486bb.png');

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax-billie {
            background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/92/9f/69/929f69f1-9977-3a44-d674-11f70c852d1b/24UMGIM36186.rgb.jpg/1200x1200bb.jpg');

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax-post {
            background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Features221/v4/68/a4/ff/68a4ff39-09e1-24f1-a23a-ed0e19f414d2/mza_10086378726648720433.png/486x486bb.png');

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax-bad {
            background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Features211/v4/6c/92/d4/6c92d475-7be5-8b7a-a7d8-fdc3d937629e/mza_9478576998108878943.png/486x486bb.png');

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }



        /* .fade {
            opacity: 0;
            transition: opacity 2s;
        }

        .fade:hover {
            opacity: 1;
        } */
    </style>
</head>

<body class="bg-dark">

    <!-- NAVBAR -->
    <nav class="navbar bg-body-transparent text-white">
        <div class="container-fluid text-white">
            <a class="navbar-brand text-white" href="http://127.0.0.1:8000/users/logout/">
                <img src="https://www.svgrepo.com/show/525416/logout-3.svg" alt="" width="50" height="50"
                    class="d-inline-block align-text-top">
            </a>
        </div>
    </nav>

    <div class="container-fluid parallax text-white max-height">
        <div class="justify-content-center align-items-center d-flex flex-column max-height">
            <!-- <h1 class="display-2">Home Page</h1> -->
        </div>
    </div>

    <div class="container mt-5 text-white text-center">
        <p class="eslogan">"La música nos conecta más allá de las palabras."</p>
    </div>

    <div class="container-fluid d-flex justify-content-center mt-5 align-items-center space">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 gx-5">
            <div class="col-3">
                <div class="card text-white bg-transparent border-0" style="width: 12rem;">
                    <div class="contenedor rounded-circle">

                        <a href="#1">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/AMCArtistImages221/v4/32/b8/4c/32b84c51-400b-d7ef-14b0-bb49065277b8/e551d134-ebe5-4a6d-b496-a26beceffdaa_ami-identity-777ad796f94973f081f3e54e4b81fcb1-2024-09-12T22-33-01.265Z_cropped.png/486x486bb.png"
                                class="card-img-top rounded-circle" alt="...">
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="display-6">The Weeknd</h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white bg-transparent border-0" style="width: 12rem;">
                    <div class="contenedor rounded-circle">
                        <a href="#2">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/92/9f/69/929f69f1-9977-3a44-d674-11f70c852d1b/24UMGIM36186.rgb.jpg/1200x1200bb.jpg"
                                class="card-img-top rounded-circle" alt="...">
                        </a>

                    </div>
                    <div class="card-body">
                        <p class="display-6 text-center">Billie Eilish</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white bg-transparent border-0" style="width: 12rem;">
                    <div class="contenedor rounded-circle">
                        <a href="#3">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Features221/v4/68/a4/ff/68a4ff39-09e1-24f1-a23a-ed0e19f414d2/mza_10086378726648720433.png/486x486bb.png"
                                class="card-img-top rounded-circle" alt="...">
                        </a>

                    </div>
                    <div class="card-body">
                        <h3 class="display-6 text-center">Post Malone</h3>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-white bg-transparent border-0" style="width: 12rem;">
                    <div class="contenedor rounded-circle">
                        <a href="#4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Features211/v4/6c/92/d4/6c92d475-7be5-8b7a-a7d8-fdc3d937629e/mza_9478576998108878943.png/486x486bb.png"
                                class="card-img-top rounded-circle" alt="...">
                        </a>

                    </div>
                    <div class="card-body">
                        <h3 class="display-6 text-center">Bad Bunny</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PARALLAX AUTORES -->
    <div class="container-fluid parallax-theweeknd text-white max-height space" id="1">
        <div class="justify-content-center align-items-center d-flex flex-column max-height">
            <h1 class="display-2">The Weeknd</h1>
        </div>
    </div>

    <div class="container text-white mt-5">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Abel Tesfaye</h1>
                    <p class="lead">Nadie combina mejor las emociones que The Weeknd. Su sonido puede ser luminoso
                        (sobre todo en canciones
                        como “Can’t Feel My Face” o “Starboy”), pero tiene un ancla en la oscuridad. Sin duda, nos hace
                        conscientes de que a veces el placer es dolor, y nos hace recordar que no se puede disfrutar una
                        noche
                        sin las consecuencias de la mañana siguiente. El cantante de Toronto Abel Tesfaye se embarcó en
                        el
                        proyecto en 2011 con una serie de mixtapes de R&B (recopilada un año después como Trilogy) en
                        las que su
                        predilección por las historias crudas con beats profundos ya se dejaba ver. El resultado es
                        ligero como
                        una pluma y pesado como el plomo al mismo tiempo. Hijo de padres etíopes que emigraron a Canadá
                        a
                        finales de los 80, se ha convertido en símbolo del nuevo Toronto y parte de una comunidad
                        musical en la
                        diáspora. Entre sus álbumes, destacan el ganador del Grammy Beauty Behind the Madness de 2015,
                        el
                        exitoso Starboy de 2016 y After Hours, una colección densa y atmosférica de 2020”.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Albums</h2>
                <div class="row d-flex ">
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music126/v4/2f/22/a9/2f22a9a6-5af1-5846-a44e-ba016724ed69/21UM1IM58860.rgb.jpg/1200x1200bf-60.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">Dawn FM</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music125/v4/6f/bc/e6/6fbce6c4-c38c-72d8-4fd0-66cfff32f679/20UMGIM12176.rgb.jpg/1200x1200bf-60.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">After Hours</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music115/v4/2a/aa/b4/2aaab42a-a4cb-a600-4a25-d78961495960/18UMGIM17204.rgb.jpg/1200x1200bf-60.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">My Dear Melancholy,</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music115/v4/e2/61/f8/e261f8c1-73db-9a7a-c89e-1068f19970e0/16UMGIM67863.rgb.jpg/1200x1200bf-60.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">Starboy</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music124/v4/40/cd/1a/40cd1a65-7948-eb96-74c6-1c4b3497456c/15UMGIM36513.rgb.jpg/1200x1200bf-60.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">Beauty Behind the Madness</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- PARALLAX AUTORES billie-->
    <div class="container-fluid parallax-billie text-white max-height space" id="2">
        <div class="justify-content-center align-items-center d-flex flex-column max-height">
            <h1 class="display-2">Billie Eilish</h1>
        </div>
    </div>

    <div class="container text-white mt-5">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Billie Eilish</h1>
                    <p class="lead">Cuando Billie Eilish siente algo nuevo, lo primero que hace es tomar el teléfono
                        para escribirlo. “Puedes escribir cualquier cosa”, explicaba la cantante y compositora a Apple
                        Music en su entrevista para la serie Up Next. “Puedes decir la verdad y no contarle a nadie que
                        es la verdad. La escribes y es sólo tuya”. Criada en Los Ángeles por padres dedicados a la
                        música y la actuación y educada en casa, Eilish (nacida en 2001 como Billie Eilish Pirate Baird
                        O’Connell) empezó a escribir a los 11 años. Sus canciones exploraban un pop melancólico,
                        minimalista y levemente surrealista influenciada tanto por Lana Del Rey como por la brutal
                        honestidad de raperos como Tyler, the Creator y Earl Sweatshirt. Con su hermano FINNEAS como
                        colaborador y productor, Eilish grabó dont smile at me en 2017, un EP al que prosiguió un caudal
                        de sencillos en constante evolución (un ejemplo perfecto de la libertad con la que los artistas
                        de hoy pueden pasar directamente de su habitación al firmamento pop). Dos años después, arrasó
                        en los premios Grammy y ganó el premio de Apple a la Artista del Año con su álbum debut en forma
                        WHEN WE ALL FALL ASLEEP WHERE DO WE GO?, una colección de pop experimental en la que explora
                        estados mentales y todo tipo de desórdenes del sueño. El álbum cambió de golpe muchas ideas
                        sobre la naturaleza de la música pop en 2020. A pesar del ruido, Eilish se esfuerza por
                        delimitar un espacio de libertad creativa ampliando el espectro de sus colaboradores (Vince
                        Staples, Khalid) y esquivando etiquetas. “Si la gente piensa que tengo un sonido, en plan ‘ah,
                        sí, su música suena así’, si te preguntan cuál es mi sonido y tienes una respuesta, seguro que
                        te equivocas”, nos dijo. “En lugar de encontrar un sonido, cuando tengo una idea y quiero crear
                        algo, simplemente lo hago”.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Albums</h2>
                <div class="row d-flex ">
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/92/9f/69/929f69f1-9977-3a44-d674-11f70c852d1b/24UMGIM36186.rgb.jpg/1200x1200bb.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">Hit Me Hard And Soft</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music115/v4/2d/f3/c9/2df3c9fd-e0eb-257c-c035-b04f05a66580/21UMGIM36691.rgb.jpg/1200x1200bb.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">Happier Than Ever</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music115/v4/1a/37/d1/1a37d1b1-8508-54f2-f541-bf4e437dda76/19UMGIM05028.rgb.jpg/1200x1200bb.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">WHEN WE ALL FALL ASLEEP, WHERE DO WE GO?</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- PARALLAX AUTORES POST MALONE-->
    <div class="container-fluid parallax-post text-white max-height space" id="3">
        <div class="justify-content-center align-items-center d-flex flex-column max-height">
            <h1 class="display-2">POST MALONE</h1>
        </div>
    </div>

    <div class="container text-white mt-5">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Post Malone</h1>
                    <p class="lead">Post Malone nació en 1995 en la ciudad de Syracuse (Nueva York) con el nombre de
                        Austin Richard Post, pero creció en las afueras de Dallas escuchando country, rock clásico y
                        rap. Como ha contado varias veces, de pequeño entretenía las reuniones familiares con una
                        coreografía de “Lean Back” de Terror Squad. Más adelante, su pasión por el videojuego Guitar
                        Hero lo motivó a tocar la guitarra de verdad, y a formar una banda de metal en la escuela. Al
                        mismo tiempo, empezaba a interesarse por el hip-hop. “White Iverson” marcó su álbum debut de
                        2016, Stoney, y su segundo disco beerbongs & bentleys, de 2018, profundizó en esa melancolía
                        entre el lujo y el desorden. Hollywood’s Bleeding (2019) fue un acercamiento a las convenciones
                        del pop mainstream que conserva intacta su magia. Post Malone no sólo mira más allá de los
                        géneros, sino que los reordena en una mezcla que combina la épica oscura del trap con los himnos
                        liberadores del rock y el country.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Albums</h2>
                <div class="row d-flex ">
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music116/v4/60/6a/bc/606abcfb-9b0e-f7fe-e1b8-0d37091f29d1/23UMGIM50188.rgb.jpg/1200x1200bb.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">AUSTIN</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music115/v4/6c/13/27/6c13279a-399b-2631-3cb2-6233a91d7a53/19UMGIM78325.rgb.jpg/1200x1200bb.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">Hollywood's Bleeding</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/95/ad/c8/95adc8ca-e583-1800-9b56-4665f186e899/24UMGIM60824.rgb.jpg/1200x1200bb.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">F1-Trillon</h3>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>

    <!-- PARALLAX AUTORES BAD-->
    <div class="container-fluid parallax-bad text-white max-height space" id="4">
        <div class="justify-content-center align-items-center d-flex flex-column max-height">
            <h1 class="display-2">Bad Bunny</h1>
        </div>
    </div>

    <div class="container text-white mt-5">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Bad Bunny</h1>
                    <p class="lead">Dos años antes de ser nombrado Artista del Año de Apple Music, Bad Bunny nos habló
                        sobre su entonces nuevo álbum YHLQMDLG. Su debut, X 100PRE, contribuyó a llevar el trap latino a
                        una audiencia internacional sin dejar atrás su espíritu regional, lo que ya representaba un gran
                        logro en su carrera. ¿Sintió que tenía que hacerlo aún mejor la segunda vez? Respondió con
                        honestidad que no. “Al contrario, quería que fuera diferente”. Al igual que su colaborador J
                        Balvin, el Conejo Malo se ha convertido en símbolo de la migración de la cultura latinx a la
                        corriente dominante global, reconfigurando la imagen, sonido y sentimiento del pop moderno al
                        seguir a su propia musa idiosincrásica. YHLQMDLG (yo hago lo que me da la gana).
                        Hacer lo que le diera la gana lo llevó a lanzar tres proyectos ese año, entre ellos el álbum
                        fusión futurista EL ÚLTIMO TOUR DEL MUNDO y un conjunto de canciones colaborativas inéditas, LAS
                        QUE NO IBAN A SALIR. También significó tomarse tiempo para planear su próximo movimiento. “Me
                        gusta estar listo y preparar el entorno para trabajar mi música”, comenta sobre su proceso.
                        “Pero cuando tengo una buena idea en la que quiero trabajar más adelante, la guardo hasta ese
                        momento”. Así llegó con Un Verano Sin Ti (2022). Aunque el título podría sugerir un proyecto con
                        toques melancólicos, reveló en cambio un objetivo conceptual diferente al ser su playlist
                        definitiva de verano. “Tiene buena vibra”, comenta. “Creo que es el disco más feliz de mi
                        carrera”.
                        Nacido como Benito Martínez Ocasio en Vega Baja, Puerto Rico en 1994, creció escuchando un
                        amplio espectro de música latina, incluyendo reggaetón, merengue y salsa, antes de descubrir el
                        hip-hop estadounidense. Sus mejores temas no sólo mezclan la tradición y el futurismo, lo latino
                        y lo global, también exploran nuevos territorios temáticos para artistas hispanos masculinos,
                        incluida la vulnerabilidad personal (“Vete”) y la violencia sexual contra las mujeres (“Yo
                        Perreo Sola”, “Bellacoso”), convirtiéndolo en un modelo y aliado para las comunidades LGBTTTIQ+
                        y los valores socialmente progresistas.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Albums</h2>
                <div class="row d-flex ">
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music221/v4/90/5e/7e/905e7ed5-a8fa-a8f3-cd06-0028fdf3afaa/199066342442.jpg/1200x630bb.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">DeBi TiRar MaS fOtos</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music114/v4/8c/0f/81/8c0f81f2-9f10-5e3d-b9de-5961a73e8e52/195081078724.jpg/1200x1200bf-60.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">YHLQMDLG</h3>
                        </div>
                    </div>
                    <div class="card text-white bg-transparent border-0 mt-5" style="width: 12rem;">
                        <div class="rounded-4">
                            <img src="https://is1-ssl.mzstatic.com/image/thumb/Music112/v4/3e/04/eb/3e04ebf6-370f-f59d-ec84-2c2643db92f1/196626945068.jpg/1200x1200bf-60.jpg"
                                class="card-img-top rounded-4" alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="display-6">Un Verano Sin Ti</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>